button {
  background-color: rgba(0, 0, 0, 0);
}

.sitesList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  place-items: center;
  justify-content: flex-start;
}

.site{
  height: 77px;
  width: 81px;
  margin-bottom: 8px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.siteIcon{
  width: 57px;
  height: 57px;
  background-position: center;
  background-size: cover;
}

.siteIcon:hover{
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
}

.siteTitle{
  max-width: 81px;
  max-height: 20px;
  color: white;
}