
.sitesList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  place-items: center;
  justify-content: flex-start;
}

.site{
  height: 77px;
  width: 80px;
  margin: 8px 0;
  margin-right: 15px;
}

.siteIcon{
  width: 57px;
  height: 57px;
  justify-self: center;
  align-self: center;
  background-position: center;
  background-size: cover;
}

.siteTitle{
  text-align: start;
  max-width: 93px;
  max-height: 20px;
}